<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <h1>Cursos Web</h1>
</header>

<nav>
    <a [routerLink]="['/pages/inicio']" >Inicio</a>
    <a [routerLink]="['/pages/cursos']" >Cursos</a>
    <a [routerLink]="['/pages/agregar-curso']">Agregar curso</a>
    <a [routerLink]="['/pages/contacto']">Contacto</a>
</nav>

<router-outlet></router-outlet>

</body>
</html>