<div class="contenedor-cursos">
    <h2>Lista de Cursos</h2>
    <ul id="lista-cursos">
      <li *ngFor="let curso of cursos">
        <div class="informacion-curso">
          <h2>{{ curso.nombreCurso }}</h2>
        </div>
        <div>
          <p><strong>Instructor:</strong> {{ curso.nombreInstructor }}</p>
          <button (click)="toggleDetalles(curso)">Ver más</button>
          <button (click)="eliminarCurso(curso.id)">Eliminar</button>
        </div>
        <div *ngIf="curso.mostrarDetalles" class="detalles-curso">
          <p><strong>Fecha de inicio:</strong> {{ curso.fechaInicio }}</p>
          <p><strong>Duración:</strong> {{ curso.duracion }} semanas</p>
          <p><strong>Descripción:</strong> {{ curso.descripcion }}</p>
        </div>
      </li>
    </ul>
  </div>
  